body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 8px;
}

h1 {
    color: #2A1E5C;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    padding-top: 3rem;
}

label {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #94c5f6;
    margin-bottom: 8px;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: #2A1E5C;
}

#search-pokemon-button {
    margin: 20px;
    padding: 15px 20px;
    background-color: #94c5f6;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

#save-favorite-button {
    margin: 20px;
    padding: 15px 20px;
    background-color: #94c5f6;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

#clear-favorites-button {
    display: block;
    margin: 20px auto 0;
    background: transparent;
    border: 2px solid #9e9ba5;
    color: #2A1E5C;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
}

#favoritos div {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    transition: transform 0.3s ease;
}

#favoritos div:hover{
 transform: scale(1.1);
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.348);
} 

#favoritos img {
    width: 96px;
    display: block;
    margin: 0 auto;
}

#favoritos p {
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 8px;
}

#favoritos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

#search-result {
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: solid #ccc;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pokemon-name {
    font-size: 2.5rem;
    font-weight: bold;
}

.pokemon-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}